<template>
  <div class="mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Код</th>
          <th scope="col">Имя</th>
          <th scope="col">Описание</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in items" :key="index">
          <td>{{ index }}</td>
          <td>
            <router-link :to="{name: 'DetailBlock', params: {code: item.code}}">{{ item.code }}</router-link>
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'Block',
    data() {
      return {
        items: null,
      }
    },
    computed: {
      getDataSections() {
        return 'https://cors-anywhere.shaykin-av.ru/https://regulator-legal-acts.shaykin-av.ru/api/sections/'
      },
    },
    mounted() {
      axios
        .get(this.getDataSections)
        .then((response) => (this.items = response.data))
        .catch((err) => console.log(err))
    },
  }
</script>
