<template>
  <div class="row justify-content-center">
    <div class="card col-6 mt-5 p-0">
      <div class="card-header">{{ cardInfo.name }}</div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">{{ cardInfo.description }}</p>
        <router-link to="/Block" class="btn btn-primary">Вернутся к списку</router-link>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'DetailBlock',
    data() {
      return {
        cardInfo: {},
      }
    },
    computed: {
      getDataSections() {
        return `https://cors-anywhere.shaykin-av.ru/https://regulator-legal-acts.shaykin-av.ru/api/sections/${this.$route.params.code}/`
      },
    },
    mounted() {
      axios
        .get(this.getDataSections)
        .then((response) => (this.cardInfo = response.data))
        .catch((err) => console.log(err))
    },
  }
</script>
